<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uqac.dim.houla">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu_options.OptionActivity"></activity>
        <activity android:name=".reveil.GameView"></activity>
        <!--
        <activity android:name=".baston.GameView"></activity>
        <activity android:name=".biere.GameView"></activity>
        <activity android:name=".bourre.GameView"></activity>
        <activity android:name=".cash.GameView"></activity>
        <activity android:name=".couette.GameView"></activity>
        <activity android:name=".motivation.GameView"></activity>
        <activity android:name=".pote.GameView"></activity>
        <activity android:name=".redac.GameView"></activity>
        <activity android:name=".sleep.GameView"></activity>
        <activity android:name=".vaisselle.GameView"></activity>
        -->
    </application>

</manifest>